[Unit]
Description=Run Cripto Farol DEV canonical candle writer periodically

[Timer]
OnBootSec=5min
OnUnitInactiveSec=15min
Persistent=true
Unit=criptofarol-dev-candle-writer.service

[Install]
WantedBy=timers.target
